# Ignore les fichiers .DS_Store
.DS_Store

# Ignore les fichiers générés par WebStorm
.idea/

# Ignore les fichiers générés par Visual Studio Code
.vscode/

/dist
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/coverage
/.nyc_output

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.temp
.tmp
# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/node-app/node_modules/
/react-app/.next/
/react-app/node_modules/
node_modules/
react-app/node_modules/
react-app/.next
/node-app/dist/
