# Fichiers de configuration et dossiers locaux
**/.git/
**/.gitignore
**/.dockerignore
**/Dockerfile
**/.env
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

**/.vscode/
**/.idea/
**/*.sublime-workspace
**/*.sublime-project

dist/
build/
temp/

.eslintignore
.eslintrc.json