<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Initialisation de votre Mot de Passe</title>
</head>
<body>
<p>Bonjour,</p>
<p>un administrateur de l'application Ecoexya vous a créé un compte. Veuillez cliquer sur le lien ci-dessous pour procéder à l'initialisation de votre mot de passe :</p>
<p><a href="{{resetPasswordUrl}}">Initialiser le mot de passe</a></p>
<p>Si vous n'avez pas demandé cette création de compte, vous pouvez ignorer ce message.</p>
<p>Merci,<br>Ecoexya</p>
</body>
</html>
