<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Réinitialisation de Mot de Passe</title>
</head>
<body>
<p>Bonjour,</p>
<p>Vous avez demandé une réinitialisation de mot de passe. Veuillez cliquer sur le lien ci-dessous pour procéder à la réinitialisation :</p>
<p><a href="{{resetPasswordUrl}}">Réinitialiser le mot de passe</a></p>
<p>Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer ce message.</p>
<p>Merci,<br>Ecoexya</p>
</body>
</html>
